{{#if script}}
<script lang='ts' setup>
  defineOptions({
    name: '{{ pascalCase name }}'
  })
</script>
{{/if}}
{{#if template}}
<template>
  <div>
    {{ pascalCase name }}
  </div>
</template>
{{/if}}
{{#if style}}
<style lang="scss" scoped>
</style>
{{/if}}
